.project-card {
  margin-bottom: 20px;
  border-radius: 10px;
}

.project-card h4 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.project-card .text-title {
  text-decoration: none;
  color: var(--ion-color-primary);
}

.project-card .text-title:hover {
  text-decoration: underline;
}

.project-card .clamped-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card .progress-bar {
  height: 10px;
  border-radius: 5px;
}


