
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    
                </div>
                <h4 class="page-title"></h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <div class="card bg-white shadow">
                <div class="card-body p-2">
                   

                    <div  class="auth-fluid-form-box">
                        <div class="align-items-center d-flex h-100">
            
                            <div class="card-body">
                                <!-- <div class="alert alert-success rounded-0 bg-success text-light" role="alert" *ngIf="message!==''">
                                         <span class="fa fa-info pe-3"></span>   {{message}}
                                          </div> -->
                                <p-messages [enableService]="true" [closable]="true"></p-messages>
                                <!-- Logo -->
                               
                                <!-- title-->
                                <h4 class="mt-0">Change Password</h4>
                                <p class="text-muted mb-4">Enter old and new password to update your account.</p>
            
                                <!-- form -->
                                <form [formGroup]="form" (ngSubmit)="changePassword()">                                   
                                    <div class="mb-3">
                                        
                                        <label for="password" class="form-label">Old Password</label>
                                        <input class="form-control" type="password" formControlName="oldPassword" 
                                             placeholder="Enter your password">
                                    </div>

                                    <div class="mb-3">
                                        
                                        <label for="password" class="form-label">New Password</label>
                                        <input class="form-control" type="password" formControlName="newPassword" 
                                             placeholder="Enter your password">
                                    </div>

                                    <div class="mb-3">
                                        
                                        <label for="password" class="form-label">Confirm Password</label>
                                        <input class="form-control" type="password" formControlName="confirmPassword" 
                                             placeholder="Enter your password">
                                    </div>
                                   
                                    <div class="d-grid mb-0 text-center">
                                        <button class="btn btn-primary" type="submit" [disabled]="isDataLoaded===false">                               
                                            <span *ngIf="isDataLoaded"><i class="fa fa-save"></i> Submit </span>
                                            <span *ngIf="!isDataLoaded"><i class="pi pi-spin pi-spinner"></i></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>