/* dashboard.page.scss */
ion-card {
    margin: 10px;
    width: 95vw;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 6px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  ion-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 
                0 12px 40px rgba(0, 0, 0, 0.2);
  }
  
  ion-card-header {
    color: white;
  }
  
  ion-card-title {
    font-size: 1.2em;
    color: white;
  }
  
  ion-card-content {
    color: white;
  }
  
  ion-item {
    --padding-start: 0;
    background-color: transparent;
  }