<ion-header>
  <ion-toolbar>
    <ion-title>Task List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterMenu()">
        <ion-icon slot="icon-only" name="funnel-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [virtualScroll]="filteredTasks">
    <ion-item *virtualItem="let task">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ task.summary }}</ion-card-title>
          <ion-chip [style.background]="task.statusTagColorCode">
            <ion-label>{{ task.statusName }}</ion-label>
          </ion-chip>
        </ion-card-header>
        <ion-card-content>
          <p>{{ task.description }}</p>
          <ion-row>
            <ion-col>
              <ion-label>Due Date:</ion-label>
              <ion-note>{{ task.dueDate | date: 'medium' }}</ion-note>
            </ion-col>
            <ion-col>
              <ion-label>Assignee:</ion-label>
              <ion-note>{{ task.assigneeUserName }}</ion-note>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
