ion-card {
  margin: 10px;
}

ion-chip {
  float: right;
  margin-left: 10px;
}

ion-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

ion-note {
  font-size: 0.8em;
  color: var(--ion-color-medium);
}
